name: build

on: [workflow_call]

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix build
  native:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libcaca-dev libnotify-dev
          version: 1.0
      - uses: dlang-community/setup-dlang@v2
        with:
          compiler: dmd
      - run: dub build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libcaca-dev libnotify-dev
          version: 1.0
      - uses: dlang-community/setup-dlang@v2
        with:
          compiler: dmd
      - run: dub test
